{% extends "base/base.html" %}

{% block content %}
    <p class="h1 text-center">Products</h1>
    <hr>
    <div class="table-responsive-md">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="">
                    <td scope="row">{{ product.id }}</td>
                    <td><a href="{% url 'product_info' product.id %}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}